.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panel {
    height: calc(100vh - 48px - 10px - 40px - 10px);
    width: 400px;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: var(--shadow);
    padding: 20px;
}