.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panel {
    height: 100vh;
    width: 400px;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: var(--shadow);
}